table,th,td{
    border: 1px solid black;
}
h1{
    color: black;
}
body{
    border: 1px solid;
    border-color:aqua ;
    background-color: aqua;
}
img{
    width: 200px;
}
button{
    width: 150px;
    background-color: aqua;
}